/**
 * Template haivl.tv cho wordpress
 * Demo online: oivl
 * Author: Namnn
 * Website author: 
 * Facebook author:
 */
* {
    outline: none;
}
a {
    color: #000000;
    text-decoration: none !important;
    outline: none !important;
}

a:focus,
a:hover {
    color: #105AA6 !important;
}

.video {
    /*    border-bottom: 1px solid #e7e7e7;*/
}

.video > div {
    margin-bottom: 15px;
    margin-top: 15px;
}

.video > div > a > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video > div > a > span {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 3px;
    color: #fff;
    display: inline-block;
    padding: 0 4px;
    position: absolute;
    right: 3px;
}

.video > div > h3 {
    font-weight: normal;
    margin-top: 0;
}

.video > div > h3 > a:hover,
.video > div > h3 > a:focus {
    text-decoration: none;
}

.video > div > ul {
    color: #777;
  list-style: none;
    padding: 0;
}

.video > div > ul > li {
    display: inline;
}

.video > div > ul > li::before {
    content: "•";
    margin: 0 0.6em;
}

.video > div > ul > li:first-child::before {
    display: none;
}

.sub-video > div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sub-video > div > a > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-video > div > a > span {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 0 3px;
    position: absolute;
    right: 2px;
}

.sub-video > div > h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25em;
    margin-top: 0;
}

.sub-video > div > h3 > a:hover,
.sub-video > div > h3 > a:focus {
    text-decoration: none;
}

.sub-video > div > span {
    color: #777;
    display: block;
    font-size: 12px;
}

.svi > div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.svi > div > a > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.svi > div > a > span {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 0 3px;
    position: absolute;
    right: 2px;
}

.svi h3 {
    margin-top: 0;
}

.svi h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25em;
}

.svi h3 > a:hover,
.svi h3 > a:focus {
    text-decoration: none;
}

.svi > div > span {
    color: #777;
    display: block;
    font-size: 12px;
}

.logo-kho-hai {
    padding-bottom: 0;
    padding-top: 0;
    width: 205px;
}


/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/

.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    border-radius: 0;
}

.nav-list {
    border-bottom: 1px solid #eee;
}

.nav-list > li {
    padding: 20px 15px 15px;
    border-left: 1px solid #eee;
}

.nav-list > li:last-child {
    border-right: 1px solid #eee;
}

.nav-list > li > a:hover {
    text-decoration: none;
}

.nav-list > li > a > span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 15px 15px;
    text-align: center;
    width: 100%;
}

.new-link {
    background-image: url('images/new_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px;
    padding-left: 40px !important;
    color: black !important;
}

.hot-link {
    background-image: url('images/hot-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px;
    padding-left: 40px !important;
    color: red !important;
}

body {
    margin-top: 60px;
}

.navbar-nham {
    background: #efefef none repeat scroll 0 0 !important;
    border-bottom: 1px solid #ccc;
}

.social > li > a {
    display: inline-block;
}

.social > li > a > img {
    width: 30px;
}

.social > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 0px;
}

.left-home {
    background: #efefef none repeat scroll 0 0;
}

.footer {
    background: #EFEFEF;
    border-top: 1px solid #ccc;
}

.top img {
    width: 40px;
    height: 40px;
}

.top {
    padding-right: 0px;
    padding-left: 0px;
}

.copyright {
    clear: both;
    color: #000000;
    float: left;
    padding: 20px 0 15px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.copyright-note span {
    margin-top: 10px;
    display: block;
}

.copy-title {
    padding-top: 10px;
    display: block;
}

.more-videos a:hover {
    color: white !important;
}

.btn-primary {
    background-image: none !important;
    border-radius: 0;
}

.navigation-gif
{
	padding-top:10px;
	padding-bottom:10px;
}

.icon-next
{
  background-image: url('images/next.png');
  background-position: center center;
  width: 35px;
  height: 27px;
  display: inline-block;
}

.icon-prev
{
  background-image: url('images/prev.png');
  background-position: center center;
  width: 35px;
  height: 27px;
  display: inline-block;
}

/*Fix bar wordpress */
#wpadminbar {
  top: 42px !important;
word-wrap: break-word;
}

@media screen and (max-width: 782px) {
  .admin-bar .sticky-header {
    top: 46px;
  }
}
.overme {
   
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
   
}
.overmer {
   text-align: right;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
   
}
.more-videos a 
{
    background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
    display: block;
    text-align: center !important;
    color: white  !important;
    margin-bottom: 20px;
    }
